@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background-color: #f0f0f0;
    color: #333;
    font-family: 'Manrope', sans-serif;
}
ul {
    display: flex;
    gap: 1em;
    padding: 1em;

}
li {
    list-style: none;
color:white;
align-items: center;    
vertical-align: middle;
    padding: 0.2em;
    width: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.7em;
    transition: 0.5s;
    width: 7.6em;

}
a {
    padding: 1em;
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.7em;
}
li:hover {
    color: #ffffff;
    cursor: pointer;
    background-color: #3d5966;

    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
footer {
    background-color: #2a3e47;
    color: rgb(255, 221, 182);
    text-align: center;
    padding: 1em;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-family: "noto serif", serif    ;
}

header {
    background-color: #2a3e47;
    height: 19vh;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.336);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header div {
    display: flex;
    align-items: center;
    gap: 1em;
}
.headerTitle {
   
    font-weight:200;
    color: rgb(201, 238, 245);

    font-family: "manrope", serif    ; 
    font-size: 2em;
}


@media (max-width: 600px) {
    header {
        flex-direction: column;
        align-items: center;
    }
    li {
        width: 100%;
        text-align: center;
    }
     ul {

        gap: 0.5em;
    }
}